body {
    background-color: #fff;
    color: #fff;
    font-family: sans-serif;
}

.container {
    width: 520px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}